* {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    display: flex;
    gap: 24px;
    align-items: center;
}

li, .gray-text {
    color: #E5E7EB;
    font-size: 18px;
}

button {
    width: 100px;
    background-color: #3882F6;
    color: #F9FAF8;
    border-style: none;
    height: 25px;
    border-radius: 5px;
}

#segment1, #segment2, #segment3 {
    height: 300px;
    display: flex;
}

#segment4 {
    height: 200px;
    display: flex;
}

.main-text, .logo-text {
    color: #F9FAF8;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
    margin-block: 0;
}

.logo-text {
    font-size: 24px;
}

#header, #segment1 {
    background-color: #1F2937;
    padding-inline: 150px;
    justify-content: space-between;
    align-items: center;
}

#header {
    display: flex;
    height: 50px;
}

#segment1 {
    gap: 94px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

#segment2, #segment3 {
    flex-direction: column;
    align-items: center;
}

.image-links-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.image-link {
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
    border-radius: 15px;
}

.image-description {
    text-align: center;
    color: #444444;
    margin-top: 5px;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#segment3 {
    background-color: #E5E7EB;
    justify-content: center;
    padding-inline: 175px;
}

.quote {
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote-attribution {
    align-self: flex-end;
    font-weight: 900;
}

#segment4 {
    justify-content: center;
    align-items: center;
    padding: 50px 150px;
}

.call-to-action {
    display: flex;
    background-color: #3882F6;
    flex: 0 1 850px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    padding-inline: 20px;
    gap: 10px;
}

.cta-header, .cta-text {
    color: #F9FAF8;
}

.cta-header {
    font-size: 20px;
    font-weight: 900;
}

.cta-button {
    border-style: solid;
    border-color: #F9FAF8;
    border-width: 1px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    height: 75px;
}

.footer-text {
    color: #E5E7EB;
}